APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://localhost
FRONTEND_URL=https://localhost:3000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=grow
DB_USERNAME=root
DB_PASSWORD=root

STRIPE_KEY=pk_test_51Mc4U8C04cRlU5lRNunVWMLB6JA7jZr0yVlnZeHQOxWY3FVhAP7BUvkQuUZ7vOmqrFnp6xhnOsck4Erwjh2SRxuG007kXM4V7v
STRIPE_SECRET=sk_test_51Mc4U8C04cRlU5lRVjZiti1q1Xu02f892RWPfdEKNON58PaUhOAyUly6HbwoUeG179Q0qTFbgBn78hACENj1pioe005HPXqtP1
STRIPE_WEBHOOK_SECRET=whsec_6b35cad1649275f3a762b86d4ed518002c2f1e2009ef879005e36c816e3c969a
CASHIER_CURRENCY=jpy

# 商品
STRIPE_BASIC_ID=price_1OwCseHAy2YyqdgQWrsvESPO
STANDARD_SUBSCRIPTION=price_1Mc6e9C04cRlU5lRIefEb6G5

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
